*{
    padding: 0;
    margin: 0;
}
.row{
    padding: 0;
    margin: 0;
}
nav {
    width: 100%;
    height: 65px;
    background-image:linear-gradient(to right, rgba(2,0,36,1) 0%, rgb(186, 29, 209) 0%, rgb(135, 30, 162)100%)!important;
}
.logo {
    width: 32%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header-logo {
    color: white;
    font-size: 28px;
    font-family: initial;
    text-transform: capitalize;
}
#header-logo-password-change{
    color: white;
    font-size: 28px;
    font-family: initial;
}
#table-header{
    font-weight: bold;
}
#for_text-trnasform{
    text-transform: capitalize!important;
}
table#header-for-setting {
    margin-top: 57px;
}
div#alert-for-danger {
    position: relative;
    top: 21px;
}
#header-setting h2{
    font-size: 20px;
}
tr:nth-child(even) {
    background-color: #f2f2f2
  }